extends layout

block content
  .profile-page
    .profile-card
      h1= user.first_name + ' ' + user.last_name
      p.label 🏛️ #{user.university} – #{user.department}
      p.label 🎓 #{user.academic_level}
      if user.bio
        blockquote.bio= user.bio

    section.section
      h2 Skills
      if skills.length
        ul.tags
          each skill in skills
            li= skill.skill_name + ' (' + skill.proficiency_level + ')'
      else
        p No skills listed.

    section.section
      h2 Courses
      if courses.length
        table
          thead
  .profile-header
    h1= user.first_name + ' ' + user.last_name
    p.meta #{user.university} &mdash; #{user.department}
    p.meta Academic Level: #{user.academic_level}
    p.bio= user.bio

  section
    h2 Skills
    if skills.length
      ul.skill-list
        each skill in skills
          li
            span.skill-name= skill.skill_name
            span.level  (#{skill.proficiency_level})
    else
      p No skills listed yet.

  section
    h2 Enrolled Courses
    if courses.length
      table
        thead
          tr
            th Code
            th Course
            th Semester
            th Year
        tbody
          each c in courses
            tr
              th Code
              th Name
              th Semester
              th Year
          tbody
            each c in courses
              tr
                td= c.course_code
                td= c.course_name
                td= c.semester
                td= c.year
      else
        p Not enrolled in any courses.

  a.btn(href="/users") &larr; Back to All Buddies
